:root{
    --bg-image: url("assests/bg-light.jpg");
}

body {
	font-family: Arial, sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
    background-image: var(--bg-image);
    background-size: cover;
}

header {
	text-align: center;
	margin-bottom: 2rem;
}

h1{
 font-size: 2.5rem;
  max-width: 40ch;
  color: #055f20;
}

p{
    color: #4a4b72;
}

header img {
	max-width: 50%;
	height: 300px;
	
	
}

a {
  text-decoration: none;
  color: #055f20;
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  background-color: #055f20;
  color: #fcfcfc;
}

a i,
.btn i {
  margin-left: 10px;
  transition: 0.2s;
}

a:hover i {
  margin-left: 15px;
}

#more-info {
	margin-top: 2rem;
}

.hidden {
	display: none;
}

@media screen and (max-width: 600px) {
	header img {
		max-width: 50%;
	}
}